.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    padding:0 15px ;
    align-items: center;
}
.h1{
    font-size: 23px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}
.ul{
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
    font-weight: 700;
}
.ul li{
    font-size: 16px;
}
.button{
    border: 2px solid rgb(255 150 0);
    background-color: rgb(255 202 0);
    border-radius: 15px;
    padding: 3px 8px;
    font-size: 16px;
    transition: 500ms ease-in;
}
.button:hover{
    background-color: rgb(255 150 0);
}